<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="mt-4">Register</h1>
            <p>{{msg}}</p>
            <form method="POST" action="/register">
                <div class="form-group">
                    <label for="name"> Name</label>
                    <input type="text" class="form-control" id="name" name="name" required>
                </div>
                <div class="form-group">
                    <label for="email">Email address</label>
                    <input type="email" class="form-control" id="email" name="email" required>
                </div>


                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" name="password" required>
                </div>

                <div class="form-group">
                    <label for="marketcap">Market cap</label>
                    <input type="text" class="form-control" id="marketcap" name="marketcap" required>
                </div>
                <div class="form-group">
                    <label for="cmps">CMPS</label>
                    <input type="text" class="form-control" id="cmps" name="cmps" required>
                </div>
                <div class="form-group">
                    <label for="stock">Stock</label>
                    <input type="text" class="form-control" id="stock" name="stock" required>
                </div>
                <div class="form-group">
                    <label for="dy">DY</label>
                    <input type="text" class="form-control" id="dy" name="dy" required>
                </div>
                <div class="form-group">
                    <label for="roce">ROCE</label>
                    <input type="text" class="form-control" id="roce" name="roce" required>
                </div>
                <div class="form-group">
                    <label for="roe">ROE</label>
                    <input type="text" class="form-control" id="roe" name="roe" required>
                </div>
                <div class="form-group">
                    <label for="de">Dept of equity</label>
                    <input type="text" class="form-control" id="de" name="de" required>
                </div>
                <div class="form-group">
                    <label for="eps">EPS</label>
                    <input type="text" class="form-control" id="eps" name="eps" required>
                </div>
                <div class="form-group">
                    <label for="reserves">Reserves</label>
                    <input type="text" class="form-control" id="reserves" name="reserves" required>
                </div>
                <div class="form-group">
                    <label for="debt">Debt</label>
                    <input type="text" class="form-control" id="debt" name="debt" required>
                </div>

                <button type="submit" class="btn btn-primary btn-block text-center">Register</button>
            </form>
            <a href="/login">Already have an account?. Login here</a>
        </div>
    </div>
</div>